<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tiresias</title>
    <link rel="stylesheet" href="../static/css/output.css">
    <script src="../static/js/main.js" defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<body>
    <div id="info-card"
        class="text-lg font-semibold bg-primary opacity-90 absolute h-56 w-72 hidden rounded-lg z-30 shadow-2xl text-base-200">
        <div id="text-container" class="p-5 flex flex-col">
            <div>Confidence Score: <span id="conf_score" class="text-pink-200">0.15</span></div>
            <div>Source: <a id="source_link" class="underline text-blue-200" href="https://www.dbpedia.org/"
                    id="src-link">Original text</a></div>
            <div>Source Language: <span id="src-lang" class="text-pink-200">Greek</span></div>
            <div>Model Response Time: <span id="model-resp-time" class="text-pink-200">11.7</span>/s</div>
        </div>
    </div>
    <div id="popups" class="flex justify-center sm:w-11/12">
    </div>
    <div class="flex flex-no-wrap">
        <!-- Sidebar starts -->
        <div
            class="w-96 h-screen sm:relative fixed bg-base-200 shadow-2xl flex-col justify-between hidden sm:flex rounded-md">
            <div class="px-8">
                <div class="h-16 w-full flex items-center mt-5 mb-28">
                    <h1 class="font-mono font-semibold text-4xl  text-primary">Configuration</h1>
                </div>
                <!-- Sidebar Content -->
                <div class="w-full max-w-xs mb-5 text-sm flex flex-row bg-primary pl-4 items-center rounded-lg h-12">
                    <div class="font-semibold text-gray-200 mr-24">Give Context:</div>
                    <div class="form-control">
                        <input id="context-check" type="checkbox" class="toggle toggle-md context-toggle bg-secondary"
                            checked />
                    </div>
                </div>
                <select id="model" class="select w-full max-w-xs bg-primary text-gray-200 mb-5 ">
                    <option disabled selected>Pick a model</option>
                    <option value="deepset/roberta-base-squad2">deepset/roberta-base-squad2</option>
                    <option value="bert-large-uncased-whole-word-masking-finetuned-squad">
                        bert-large-uncased-whole-word-masking-finetuned-squad</option>
                    <option value="distilbert-base-cased-distilled-squad">distilbert-base-cased-distilled-squad</option>
                    <option value="deepset/bert-large-uncased-whole-word-masking-squad2">
                        deepset/bert-large-uncased-whole-word-masking-squad2</option>
                    <option value="distilbert-base-uncased-distilled-squad">distilbert-base-uncased-distilled-squad
                    </option>
                    <option value="rsvp-ai/bertserini-bert-base-squad">rsvp-ai/bertserini-bert-base-squad</option>
                    <option value="deepset/minilm-uncased-squad2">deepset/minilm-uncased-squad2</option>
                    <option value="dmis-lab/biobert-large-cased-v1.1-squad">dmis-lab/biobert-large-cased-v1.1-squad
                    </option>
                    <option value="deepset/bert-base-cased-squad2">deepset/bert-base-cased-squad2</option>
                    <option value="bert-large-cased-whole-word-masking-finetuned-squad">
                        bert-large-cased-whole-word-masking-finetuned-squad</option>
                </select>
                <select id="lang" class="select w-full max-w-xs bg-primary text-gray-200 mb-5 ">
                    <option disabled selected>Input Language</option>
                    <option value="en">English</option>
                    <option value="el">Greek</option>
                </select>
                <select id="trans" class="select w-full max-w-xs bg-primary text-gray-200 mb-5 ">
                    <option disabled selected>Translator</option>
                    <option value="bing">Bing</option>
                    <option value="helsinki">Helsinki</option>
                </select>
                <select id='erm' class="select w-full max-w-xs bg-primary text-gray-200 mb-5 hidden">
                    <option disabled selected>Entity Recognition</option>
                    <option value="babelfy">Babelfy</option>
                    <option value="lod">LODsyndesis</option>
                </select>
            </div>
        </div>
        <!-- For the button to make it large when the window is small -->
        <div class="w-64 z-40 absolute bg-gray-800 shadow md:h-full flex-col justify-between sm:hidden transition duration-150 ease-in-out"
            id="mobile-nav">
            <button aria-label="toggle sidebar" id="openSideBar"
                class="h-10 w-10 bg-gray-800 absolute right-0 mt-16 -mr-10 flex items-center shadow rounded-tr rounded-br justify-center cursor-pointer focus:outline-none focus:ring-2 focus:ring-offset-2 rounded focus:ring-gray-800"
                onclick="sidebarHandler(true)">
                <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/light_with_icons_at_bottom-svg7.svg"
                    alt="toggler">
            </button>
            <button aria-label="Close sidebar" id="closeSideBar"
                class="hidden h-10 w-10 bg-gray-800 absolute right-0 mt-16 -mr-10 flex items-center shadow rounded-tr rounded-br justify-center cursor-pointer text-white"
                onclick="sidebarHandler(false)">
                <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/light_with_icons_at_bottom-svg8.svg"
                    alt="cross">
            </button>
            <div class="px-8 h-screen bg-base-200">
                <div class="h-16 w-full flex items-center mb-28">
                    <h1 class="font-mono font-bold text-3xl text-primary">Configuration</h1>
                </div>
                <!-- Sidebar Content -->
                <div
                    class="w-full max-w-xs mb-5 text-sm flex flex-row bg-primary pl-4 items-center rounded-lg h-12 context-small">
                    <div class="font-semibold text-gray-200 mr-auto">Give Context:</div>
                    <div class="form-control mr-3">
                        <input id="context-check-small" type="checkbox" class="toggle toggle-md context-toggle"
                            checked />
                    </div>
                </div>
                <select id="model-small" class="select w-full max-w-xs bg-primary text-gray-200 mb-5 ">
                    <option disabled selected>Pick a model</option>
                    <option value="deepset/roberta-base-squad2">deepset/roberta-base-squad2</option>
                    <option value="bert-large-uncased-whole-word-masking-finetuned-squad">
                        bert-large-uncased-whole-word-masking-finetuned-squad</option>
                    <option value="distilbert-base-cased-distilled-squad">distilbert-base-cased-distilled-squad</option>
                    <option value="deepset/bert-large-uncased-whole-word-masking-squad2">
                        deepset/bert-large-uncased-whole-word-masking-squad2</option>
                    <option value="distilbert-base-uncased-distilled-squad">distilbert-base-uncased-distilled-squad
                    </option>
                    <option value="rsvp-ai/bertserini-bert-base-squad">rsvp-ai/bertserini-bert-base-squad</option>
                    <option value="deepset/minilm-uncased-squad2">deepset/minilm-uncased-squad2</option>
                    <option value="dmis-lab/biobert-large-cased-v1.1-squad">dmis-lab/biobert-large-cased-v1.1-squad
                    </option>
                    <option value="deepset/bert-base-cased-squad2">deepset/bert-base-cased-squad2</option>
                    <option value="bert-large-cased-whole-word-masking-finetuned-squad">
                        bert-large-cased-whole-word-masking-finetuned-squad</option>
                </select>
                <select id="lang-small" class="select w-full max-w-xs bg-primary text-gray-200 mb-5 ">
                    <option disabled selected>Input Language</option>
                    <option value="en">English</option>
                    <option value="el">Greek</option>
                </select>
                <select id="trans-small" class="select w-full max-w-xs bg-primary text-gray-200 mb-5 ">
                    <option disabled selected>Translator</option>
                    <option value="bing">Bing</option>
                    <option value="helsinki">Helsinki</option>
                </select>
                <select id="erm-small" class="select w-full max-w-xs bg-primary text-gray-200 mb-5 hidden">
                    <option disabled selected>Entity Recognition</option>
                    <option value="babelfy">Babelfy</option>
                    <option value="lod">LODsyndesis</option>
                </select>
            </div>
        </div>
        <!-- Sidebar ends -->
        <!-- Main page -->
        <div class="flex flex-nowrap flex-col w-full">
            <!-- Header -->
            <div class="h-16 w-full flex justify-center mt-10 mb-16">
                <h1
                    class="font-mono font-semibold text-6xl sm:text-5xl md:text-5xl lg:text-7xl text-primary hover:cursor-pointer">
                    Tiresias
                </h1>
            </div>
            <!-- Context -->
            <div class="container mx-auto py-10 h-64 md:w-4/5 w-11/12 px-6 context-container">
                <textarea id="context" class="w-full h-full textarea textarea-primary resize-none"
                    placeholder="Insert context here..."></textarea>
            </div>
            <!-- Button container -->
            <div class=" mx-auto md:w-4/5 w-11/12 px-6 flex flex-row justify-center button-container">
                <button class="btn-primary btn sm:w-28 md:w-36 text-gray-200 mr-5" id="add-button">Add question</button>
                <button class="btn-primary btn sm:w-28 md:w-36 text-gray-200 " id="answer-button">Answer
                    questions</button>
            </div>
            <!-- Questions -->
            <div class=" mx-auto py-10 h-64 md:w-4/5 w-11/12 px-6 flex flex-col questions-section">
                <div id="1" class="form-control w-full  mb-5 question">
                    <label class="label question-label">
                        <span class="label-text text-lg">Question 1</span>
                    </label>
                    <input type="text" placeholder="Write a question..."
                        class="z-10 input input-bordered w-full input-question" />
                    <result class="bg-primary p-3 -mt-1 rounded-t-none rounded-b-lg text-gray-200">

                    </result>
                </div>
            </div>
        </div>
    </div>
    </div>

</body>

</html>