@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

:root {
  --main-bg-color: #f1f1f1;
  --secondary-bg-color: #e9ebec;
  --text-color: #e94f37;
  --user-text-color: #fad2b9;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  scroll-behavior: smooth;
}

body {
  display: grid;
  place-items: center;
  justify-content: center;
  background-color: var(--main-bg-color);
}

/* Typography */
h1 {
  margin: 50px;
  border-bottom: solid 3px;
  color: var(--text-color);
}

h2,
h3,
button {
  color: var(--text-color);
}

/* Context Section */
.context-section {
  display: grid;
  place-items: center;
}

.text-area-wrapper textarea {
  padding: 3px;
  background-color: var(--secondary-bg-color);
  color: black;
  font-size: medium;
  resize: vertical;
  width: calc(100vw - 500px);
  border-radius: 1rem;
  border: dashed 3px var(--text-color);
}

.text-area-wrapper textarea:focus {
  outline: none;
}

.context-buttons {
  border-radius: 0.5em;
  border: none;
  padding: 5px;
  background-color: var(--text-color);
  color: var(--user-text-color);
  margin: 0 10px;
}

.context-buttons:hover {
  background-color: var(--user-text-color);
  color: var(--text-color);
  cursor: pointer;
  transform: scale(110%);
}

.button-container {
  display: flex;
  
}

/* Questions Section */
.questions-section {
  margin: 40px;
}

.remove-question {
  margin-left: -4px;
  border-radius: 0;
  border: none;
  background-color: var(--text-color);
  height: 25px;
  width: 20px;
  color: var(--user-text-color);
  font-size: 20px;
}

.question {
  display: grid;
  place-items: center;
  justify-content: center;
  margin: 20px;
}

.question-field {
  display: flex;
  height: 25px;
  width: 500px;
}

.remove-question:hover {
  cursor: pointer;
}

input {
  width: 100%;
  border: solid 2px var(--text-color);
  font-size: medium;
  background-color: var(--secondary-bg-color);
}

input:focus {
  outline: none;
}

.up-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 50px;
  height: 50px;
  right: 50px;
  bottom: 50px;
  border: none;
  background-color: var(--text-color);
  color: var(--user-text-color);
  font-size: 25px;
  border-radius: 0.5rem;
}

.up-arrow:hover {
  cursor: pointer;
  background-color: var(--user-text-color);
  color: var(--text-color);
}

output {
  display: flex;
  border: solid 2px #e94f37;
  border-radius: 0.5em;
  width: 100%;
  padding: 0 5px 5px 5px;
  padding-top: 10px;
  margin-top: -10px;
  z-index: -1;
  background-color: var(--text-color);
  color: var(--user-text-color);
}

select {
  border: none;
  background-color: var(--text-color);
  color: var(--user-text-color);
  height: 25px;
  border-radius: 0.5em;
}

#context,
.input {
  padding-left: 5px;
}


.loader {
  border: 16px solid rgb(199, 198, 198);
  border-top: 16px solid var(--text-color);
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  position: fixed;
  top: 3%;
  left: 2%;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}